<footer>
    <div class="contact-info">
        <p>Email: info@jewelryshop.com</p>
        <p>Phone: 123-456-7890</p>
        <p>Address: 123 Jewelry Street, City, Country</p>
    </div>
</footer>